html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    background-color: rgb(16,59,23);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 370px;
    height: 508px;
    border: 2px solid rgb(17, 17, 17);
    border-radius: 5px;
    background-color: rgb(17, 17, 17);
}

.calculator-display {
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 45px;
    width: 99%;
    height: 2.5em;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    border: 1px solid rgb(64,64,64);
    border-radius: 5px;
    margin: 2px auto;
}

.calculator-keys {
    background-color: rgb(17, 17, 17);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.calculator-key {
    background-color: rgb(64,64,64);    
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1.2em;
    width: 24.3%;
    height: 3.9em;
    margin-left: 0.12em;
    margin-top: 0.12em;
}

.number-key, #decimal-key {
    color: white;
}

.number-key:hover, #decimal-key:hover {
    background-color: rgb(49, 49, 49);
}

.number-key:active, #decimal-key:active {
    background-color: rgb(32, 32, 32);
}

.operator-key {
    background-color: rgb(255, 165, 0);
    color: black;
}

.operator-key:hover {
    background-color: rgb(185, 121, 0);
}

.operator-key:active {
    background-color: rgb(148, 96, 0);
}

#clear-key, #backspace-key {
    background-color: rgb(165,0,0);
    color: black;
}

#clear-key:hover, #backspace-key:hover {
    background-color: rgb(185, 55, 59);
}

#clear-key:active, #backspace-key:active {
    background-color: rgb(138, 43, 46);
}

#equals-key {
    width: 49%;
    background-color: rgb(75,149,31);
    color: black
}

#equals-key:hover {
    background-color: rgb(83, 136, 50);
}

#equals-key:active {
    background-color: rgb(55, 90, 34);
}